html {
    background-color: black;
}

body {
    font-family: Helvetica;
}

h1 {
    text-align: center;
    font-size: 32px;
    color: red;
}

h2 {
    text-align: center;
    font-size: 28px;
    color: green;
}

.white {
    color: white;
}
.grey {
    color: grey;
}
.blue172 {
    color: rgb(172, 172, 255);
}
.honeydew {
    color: honeydew;
    }
.lavender {
    color: lavender;
}

ol li {
    font-size: 16px;
}

p {
    color: blanchedalmond;
}