h1 {
    color: rgb(255, 11, 174);
    font-size: 42px;
}

h2 {
    color: greenyellow;
    font-size: 28px;
}

.orange {
    color: orange;
}

.purple {
    color: purple;
}

a {
    color: rgb(255, 11, 174);
}

ul {
    background-color: #eeeeee;
    font-size: 14px;
}
h4 {
    font-size: 12px;
}