html{
    background-color: rgb(3, 56, 56);
}

h2 {

    color: rgb(156, 245, 215);
}

ul {
    font-size: 20px;
    color: white
}

.verde {
    color: rgb(0, 255, 0)
}

#lista-produtos {
    background-color: indigo;
}